<!doctype html>
<html>
  <style></style>
  <body>
    <div class="fullpage">
      <div class="test">Testimonials</div>
      <div class="parentdiv1">
        <div class="box1">
          <p class="b1">What They’re Saying?</p>
          <p class="b2">Don't take our word for it. Take theirs....</p>
        </div>

        <div class="border-container">
          <div class="box2">
            <div class="flex2">
              <div class="headd2">1 Video</div>
              <div class="st2">
                <p>
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                </p>
              </div>
            </div>
            <div class="jassica">
              <div>
                <img src="{{ '/jesica.png' | asset_url }}" alt="Jessica Brown">
              </div>
              <div class="name1">Jessica Brown</div>
            </div>
            <div class="paragraph1">
              With Messages From Santa, we have finally accomplished things that have been waiting forever to get done.
            </div>
            <div class="whitebox1"></div>
          </div>
        </div>
        <div class="border-container">
          <div class="box2">
            {% comment %} <img src="{{ '/borderImg.png' | asset_url }}" alt="Jessica Brown"> {% endcomment %}
            {% comment %} <img src="your-image.jpg" alt="Border Image"> {% endcomment %}
            <div class="flex1">
              <div class="headd1">4 Videos</div>
              <div class="st1">
                <p>
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                </p>
              </div>
            </div>
            <div class="anica">
              <div>
                <img src="{{ '/anika.png' | asset_url }}" alt="Anika Levin">
              </div>
              <div class="name2">Anika Levin</div>
            </div>
            <div class="paragraph2">
              Thanks Messages from Santa! Your product descriptions are amazing and your service is wonderful. Would
              definitely recommend and will definitely be ordering again.
            </div>
            <div class="whitebox2"></div>
          </div>
        </div>
        <div class="border-container">
          <div class="box2">
            {% comment %} <img src="{{ '/borderImg.png' | asset_url }}" alt="Jessica Brown"> {% endcomment %}
            {% comment %} <img src="your-image.jpg" alt="Border Image"> {% endcomment %}
            <div class="flex1">
              <div class="headd1">4 Videos</div>
              <div class="st1">
                <p>
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                </p>
              </div>
            </div>
            <div class="anica">
              <div>
                <img src="{{ '/anika.png' | asset_url }}" alt="Anika Levin">
              </div>
              <div class="name2">Anika Levin</div>
            </div>
            <div class="paragraph2">
              Thanks Messages from Santa! Your product descriptions are amazing and your service is wonderful. Would
              definitely recommend and will definitely be ordering again.
            </div>
            <div class="whitebox2"></div>
          </div>
        </div>
        <div class="border-container">
          <div class="box2">
            {% comment %} <img src="{{ '/borderImg.png' | asset_url }}" alt="Jessica Brown"> {% endcomment %}
            {% comment %} <img src="your-image.jpg" alt="Border Image"> {% endcomment %}
            <div class="flex1">
              <div class="headd1">4 Videos</div>
              <div class="st1">
                <p>
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                </p>
              </div>
            </div>
            <div class="anica">
              <div>
                <img src="{{ '/anika.png' | asset_url }}" alt="Anika Levin">
              </div>
              <div class="name2">Anika Levin</div>
            </div>
            <div class="paragraph2">
              Thanks Messages from Santa! Your product descriptions are amazing and your service is wonderful. Would
              definitely recommend and will definitely be ordering again.
            </div>
            <div class="whitebox2"></div>
          </div>
        </div>
        <div class="border-container">
          <div class="box2">
            {% comment %} <img src="{{ '/borderImg.png' | asset_url }}" alt="Jessica Brown"> {% endcomment %}
            {% comment %} <img src="your-image.jpg" alt="Border Image"> {% endcomment %}
            <div class="flex1">
              <div class="headd1">4 Videos</div>
              <div class="st1">
                <p>
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                  <img src="{{ '/starFilled.png' | asset_url }}" alt="Image">
                </p>
              </div>
            </div>
            <div class="anica">
              <div>
                <img src="{{ '/anika.png' | asset_url }}" alt="Anika Levin">
              </div>
              <div class="name2">Anika Levin</div>
            </div>
            <div class="paragraph2">
              Thanks Messages from Santa! Your product descriptions are amazing and your service is wonderful. Would
              definitely recommend and will definitely be ordering again.
            </div>
            <div class="whitebox2"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
